{% extends 'base/simple.layout.jinja' %}
{% block page_title %}
Test Page
{% endblock %}
{% block page_heading %}
This is a test page
{% endblock %}
{% block content %}
Some test content
{% endblock %}
