{{ {
    "type": "page_fragment",
    "content": {
        "page_title": self.page_title and self.page_title() or None,
        "page_heading": self.page_heading and self.page_heading() or None,
        "content": self.content(),
    }
} | jsonify | safe }}
